body{
    width: 70%;
    background-image: url('images/background.jpg');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
td{
    padding: auto;
    width: 5rem;
    height: 4rem;
    border:1px solid black ;
}
th{
    padding: auto;
    width: 7rem;
    height: 4rem;
    border:1px solid black ;
}
table{
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6{
    font-family: Arial, Helvetica, sans-serif;
}

.carousel-item{
    max-width: 100%;
    max-height: 23rem;
}
.align-justify{
    text-align: justify;
    text-indent: 2rem;
    
}
.container{
    padding: 0;
}
.focontent{
    padding: 1rem;
}

#carousel{
    width: 60%;
    margin: 0 auto;
}
#footer-a{
    text-decoration: none;
    
}
#footer-a:hover{
    color: red !important;
}
#navbar-elem:hover{
    color: red !important;
}